<div class="jumbotron jumbo-custom">
<h1>Welcome to my app!</h1>
<p> <%= link_to "login", "#", class: "btn btn-default btn-lg" %><%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %> 
</p>
</div>