

<div class="jumbotron jumbo-custom">
<h1>Meet our team!</h1>
<%= image_tag("yo.png", :alt => "Andres Gaitan") %>
<p> Andr&eacute;s Gait&aacute;n is currently a student at the "Universidad de los Andes" in Bogot&aacute;, Colombia </p>
</div>

<div class="jumbotron jumbo-custom">
<%= image_tag("garcia.jpg", :alt => "Juan Andres Garcia", :style => "width:200px; height:400px;")%>
<p> Juan Andr&eacute;s Garc&iacute;a is a Business Administration student at the "Universidad de los Andes" in Bogot&aacute;, Colombia</p>
</div>