

<div class="jumbotron jumbo-custom">
<h1>Meet our team!</h1>
<%= image_tag("yo.png", :alt => "Andres Gaitan") %>
<p> Andr&eacute;s Gait&aacute;n is currently a student at the "Universidad de los Andes" in Bogot&aacute; Colombia </p>
</div>